<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生一覧</title>
</head>
<body>
<h1>受講生一覧</h1>

<a th:href="@{/alterStudentMenu}">受講生情報の更新はこちら</a>
<br>
<a th:href="@{/deletedStudent}">削除者はこちら</a>

<table border="1">
  <thead>
  <tr>
    <th>ID</th>
  　<th>名前</th>
    <th>カナ名</th>
    <th>ニックネーム</th>
    <th>メールアドレス</th>
    <th>地域</th>
    <th>年齢</th>
    <th>性別</th>
    <th>備考</th>
    <th>削除フラグ</th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="studentDetail : ${studentList}">
    <td th:text="${studentDetail.student.id}">1</td>
    <td th:text="${studentDetail.student.name}">山田太郎</td>
    <td th:text="${studentDetail.student.kanaName}">ヤマダタロウ</td>
    <td th:text="${studentDetail.student.nickName}">たろすけ</td>
    <td th:text="${studentDetail.student.email}">tarou@gmail.com</td>
    <td th:text="${studentDetail.student.area}">沖縄市</td>
    <td th:text="${studentDetail.student.age}">20</td>
    <td th:text="${studentDetail.student.gender}">男</td>
    <td th:text="${studentDetail.student.remark}">特になし</td>

    <td>
      <input type="checkbox" th:checked="${studentDetail.student.isDeleted}"/>
    </td>


  </tr>
  </tbody>
</table>
</body>
</html>